body {
    background-color: #f6f6f6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    color: #555555;
}

p {
    font-size: 14px
}

hr {
    color: #515070;
    border-style: none;
    border-top-style: dotted;
    height: 0;
    width: 10%;
    border-width: 5px;
}

li {
    list-style-type: none;
    margin: 0;
}

ul {
    padding-left: 0;
}

h1 {
    color: #515070;
    text-align: center;
    padding-top: 25px;
    margin: 0;
}

.header-box {
    background-color: #e5c5b5;
    height: 100px;
    margin: 0px;
}

h3 {
    color: #e5c5b5;
}

h2 {
    color: #e5c5b5;
    margin: 0 auto 10px;
}

a.contact-me {
    color: #ff8e6e;
}

.top-container {
    width: 50%;
    margin: 60px auto 70px auto;
    line-height: 2;
}

.image-me {
    width: 30%;
    float: left;
    margin-right: 30px;
    margin-top: 10px;

}

.work-experience {
    width: 50%;
    margin: 50px auto 70px auto;

}

.hobbies {
    width: 50%;
    margin: 50px auto 70px auto;
    line-height: 2;

}

.my-skills {
    width: 50%;
    margin: 60px auto 70px auto;
    line-height: 2;
}

.bike {
    width: 30%;
    float: right;
    margin-right: 320px;

}

.camera {
    width: 30%;
    float: right;
    margin-left: 40px;
}

table {
    border-collapse: collapse;
    width: 650px;
    line-height: 2;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #d2d3c9;
}

.myButton {
    box-shadow: 0px 0px 0px 0px #515070;
    background: linear-gradient(to bottom, #515070 5%, #515070 100%);
    background-color: #515070;
    border-radius: 12px;
    border: 1px solid #515070;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #515070;
    margin-left: 640px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.myButton:hover {
    background: linear-gradient(to bottom, #9a99bd, #515070 100%);
    background-color: #515070;
}

.myButton:active {
    position: relative;
    top: 1px;
}


a {
    color: #515070;
    text-decoration: none;
    /* no underline */
}

.contact-me {
    width: 100%;
    margin-top: 10px;
    margin-left: 80px;
    line-height: 2;
}

hr.contact-me {
    color: #515070;
    border-style: none;
    border-top-style: dotted;
    height: 0;
    width: 20%;
    border-width: 5px;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }

    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }

    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

// Small screens
@media only screen {}

/* Define mobile styles */

@media only screen and (max-width: 40em) {}

/* max-width 640px, mobile-only styles, use    when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width        1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width     1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xlarge screens */